body {
   width: 80%;
}

.tabel-controale {
   width: 80%;
}

.tabel-controale th {
   height: 25px;
    background-color: #3399ff;
    color: white;
}

.tabel-controale th,
.tabel-controale td {
   border-bottom: 1px solid #ddd;
   padding: 15px;
   text-align: left;
}

.tabel-controale tr:nth-child(even){background-color: #f2f2f2;}

.tabel-controale tr:hover {background-color: #ddd;}