html,
body {
    background: white;
    width: 100%;
    height: 100%;
    display: table;
}

.log-container {
    display: table-cell;
    vertical-align: middle;
}

.log-container form {
    width: 293px;
    margin: 0 auto;
}

.log-container .form-header {
    font-size: 32px;
    text-align: center;
    padding-bottom: 32px;
}

.log-container .form-content {
    width: 100%;
    margin: 0 auto;
}

.log-container form .form-content input[type=text],
.log-container form .form-content input[type=password] {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    padding: 13px 15px;
    margin: 16px auto 0 0;
    display: block;
    border: 1px solid #CED4DA;
    background-color: rgb( 255, 255, 255);
    color: rgb( 206, 212, 218);
    border-radius: 4px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
}

.log-container form .sign-up-spacing input[type=text],
.log-container form .sign-up-spacing input[type=password] {
    margin-top: 7px;
}

.log-container form .form-content input[type=text]:focus,
.log-container form .form-content input[type=password]:focus {
    outline: 0;
    border: 1px solid #354E66;
    color: #354E66;
}

.log-container form .form-content input[placeholder] {
    color: #354E66;
}

#passwd {
    margin-top: 26px;
}

.log-container .login-button {
    box-sizing: border-box;
    background-color: #364FC7;
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: bold;
    margin: 57px auto 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 4px;
}

.log-container .sign-up-button {
    margin-top: 44px;
}

.log-container .form-footer {
    width: 100%;
    color: #4040bf;
    text-align: center;
    margin-top: 58px;
    margin-bottom: 15px;
}

.log-container .sign-up-form-footer {
    margin-top: 42px;
}

.log-container .form-footer a {
    text-decoration: none;
    border-bottom: 1px solid #868E96;
    font-size: 14px;
    color: #868E96;
    margin-right: 10px;
}

.log-container .form-footer a:hover {
    color: #364FC7;
    border-bottom: 1px solid #364FC7;
}
