@import url('https://fonts.googleapis.com/css?family=Montserrat: 700|Source+Sans+Pro: 400,600');
html,
body,
div,
a,
img,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1em;
}
html, body {
  height: 100%;
}
body {
  /*width: 1440px; need 160px*/
  /*need for sake of codding on small screen*/
  /*background color was overwritted in login-logout with white*/
  background: #F1F3F5;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  box-sizing: border-box;
  min-width: 320px;
}


/*div parent isnt expanding when childs float*/

.clear-fixit {
  clear: both;
}
.validationError {
  color: red;
}